{
    "SECRET_KEY" : "django-insecure-j36p+5o0v$(fb)2pgvfgo*wxeo_21*^s#xekayh(_^^m)ai&4#",
    "DATABASE" : {
        "ENGINE": "",
        "NAME": "",
        "USER": "",
        "PASSWORD": "",
        "HOST": "localhost",
        "PORT": "3306"
    },

    "KAKAO_KEY" : "",
    "NAVER_ID" : "",
    "NAVER_SECRET" : "",

    "AWS_ACCESS_KEY_ID" : "",
    "AWS_SECRET_ACCESS_KEY" : "",
    "AWS_STORAGE_BUCKET_NAME" : "",
    
    "EC2_IP" : "127.0.0.1"

}
